alive_progress
azure-core
azure-identity
azure-mgmt-subscription
azure-mgmt-resource
azure-mgmt-compute
azure-mgmt-network
boto3
requests
rich
selenium
seleniumbase
tqdm
paramiko
pause
toml
patchright